
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .no-scrollbar::-webkit-scrollbar{
    width: 0px;
  }
  .no-scrollbar::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 6px;
  }
  .no-scrollbar::-webkit-scrollbar-corner{
    background-color: #f1f1f1;
  }
  .no-scrollbar::-webkit-scrollbar-button{
    display: none;
  }
  .main-background{
    background: linear-gradient(120deg, #363942 2%, #1F2127 98%);
  }
  .text-balance {
    text-wrap: balance;
  }
  .el-shadow {
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
}

@layer base {
  .default-paddings {
    @apply px-4 xs:px-8 sm:px-14 md:px-20 xl:px-5 2xl:px-0
  }
  .nav-font {
    a{
      @apply text-light font-inter font-extralight text-sm xl:text-base text-nowrap
    }
  }
  a {
    @apply font-montserrat font-extralight text-sm hover:underline underline-offset-2
  }
  h1 {
    @apply text-[26px] xs:text-[32px] sm:text-[45px] lg:text-[38px] xl:text-[45px] font-montserrat font-extrabold tracking-wider
  }
  h2 {
    @apply text-2xl sm:text-[34px] font-montserrat font-extrabold tracking-wide
  }
  h3 {
    @apply text-[20px] xs:text-[25px] font-montserrat font-medium
  }
  h4 {
    @apply text-sm leading-none sm:text-base font-montserrat font-medium
  }
  h5 {
    @apply text-base font-montserrat font-light uppercase tracking-wider
  }
  h6 {
    @apply text-sm font-montserrat font-semibold
  }
  h7 {
    @apply text-sm font-montserrat font-medium
  }
  p {
    @apply text-xs xs:text-sm font-inter font-extralight whitespace-pre-line
  }
  label {
    @apply text-sm font-light font-montserrat whitespace-pre-line 
  }
  input, textarea {
    @apply placeholder:text-xs font-inter font-light placeholder:text-slate-400 whitespace-pre-line
  }
}

/* SURFACE SLIDER */
@layer base {
  .make-3d {
    transform-style: preserve-3d;
    transform: perspective(3000px);
  }
  .surface-object {
    transition: .3s;
    filter: brightness(1);
    width: 120px;
  }
  .surface-object:hover {
    transform: translateZ(200px);
    filter: brightness(1);
    width: 250px;
    
  }
  .surface-object:hover + *{
    transform: translateZ(150px) rotateY(40deg);
  }
  .surface-object:hover + * + *{
    transform: translateZ(70px) rotateY(20deg);
  }
  .surface-object:hover + * + * + *{
    transform: translateZ(30px) rotateY(10deg);
  }
  .surface-object:has(+ *:hover) {
    transform: translateZ(150px) rotateY(-40deg);
  }
  .surface-object:has(+ * + *:hover) {
    transform: translateZ(70px) rotateY(-20deg);
  }
  .surface-object:has(+ * + * + *:hover) {
    transform: translateZ(30px) rotateY(-10deg);
  }
}